# WEB SCRAPING ASSIGNMENT-2

# Q1

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(r"C:\Users\hp\Desktop\Flip Robo\chromedriver.exe")

In [3]:
url = 'https://www.naukri.com/'
driver.get(url)

In [7]:
search_job= driver.find_element_by_id("qsb-keyword-sugg")
search_job
search_job.send_keys("Data Analyst")

In [8]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc
search_loc.send_keys("Banglore")

In [9]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn
search_btn.click()

In [10]:
job_titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles

[<selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="7339366f-1007-47d3-a5a2-07fc9b8b3891")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="0715d9cf-d866-4aa6-9f48-a9b40cb95642")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="d3708f27-1851-4b86-9009-ec8265b745e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="d222cf40-4386-4fda-ba92-ea2b5ab347bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="89b51935-9476-401b-b3d5-8d42cc699281")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="2a833515-783e-4a4f-bfbb-6eccfed1f98b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="92adbc5a-e835-486c-b786-b1afe5cd7b80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="a75467c3-fdb7-441d-bdb9-22104146c60c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="cc9291b9-fe94-4e44-9b9d-91cf9eef20bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="55301dff-4800-43a9-9fef-1999ae338dc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="e3dbdfba-f1e4-4743-bf9b-b9ee5fc2f676")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="91677c18-9226-4628-a17f-2764f1ba4c08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="4575ff22-dfaa-4a9f-97ce-4968f66ff6f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="ccb4732c-947c-455a-8490-c236ecdda38d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="a28db234-d90e-4169-babe-5cd607b3465f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="a52e57a4-45eb-47b3-b747-80f96326e051")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="c359df56-a8f0-4b1d-8ccf-1423eb1f89b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="161d5237-19cd-4261-8a77-275bfc9800e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="504092d4-de66-48de-8801-1ce569fd8302")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="f1b343e4-74c1-4a98-9c8a-861ae7056b54")>]

In [11]:
Job_titles=[]
for i in job_titles:
    Job_titles.append(i.text)
Job_titles

['Senior Data Analyst',
 'Tcs Hiring For Senior Data Analyst (bfsi domain)',
 'Business Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 'Senior Data Analyst',
 'Tcs Hiring For MDM (master data management) Data Analyst (bfsi domain)',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'SENIOR DATA ANALYST',
 'Executive Data Analyst',
 'Senior Data Analyst IN4',
 'Analyst & Designer - Software - Data Analysis',
 'Data Analyst - I/II',
 'Systems and Data Analyst, Safety and Provisioning',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Sr Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst']

In [12]:
len(job_titles)

20

In [13]:
job_location= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="74e4b519-917b-48a4-9112-e32d3e2eead2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="b5b0b662-47d1-4331-8971-0b010acfd540")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="c9d7ced7-33b8-4a20-88de-3b7d12f55bcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="4997528a-f2ed-4892-803e-71ea5d3d6e19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="da31b84a-ceeb-4041-b7bd-98c3d699e633")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="800baf12-7fe2-424f-8d23-6cd718ba7a85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="de634f70-e3f8-4201-b46b-daced25320bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="e5d98423-ddf4-4b2c-ab1e-f76f66851105")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="d96622d8-f4f3-4a35-a826-30b96f5a6106")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="f59fc060-b918-4a2a-b877-bb9724b6abe8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="b72bc2d0-b7af-4e38-a99b-e769c17df0b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="c25f66ee-05ec-4217-bb01-4ab3291490cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="6786d546-a294-406a-a354-af25aa98ac63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="6dd5b6cd-3615-4c52-a814-a1bb262513ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="83ac48f9-24c1-451d-bf24-92c1112bafd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="25307321-df60-48e5-adb5-f73c7b7106be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="9dd1f5d3-5d20-4e37-8b8c-f5c4789bcce5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="32beed3e-35ce-4f92-bc4e-5b751834cfeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="015c60f7-f399-4b57-8039-e0a9562e6cce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="aa31d27f-30a8-4612-ab90-c881df135866")>]

In [14]:
Job_location= []
for i in job_location:
    Job_location.append(i.text)
Job_location

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [15]:
len(Job_location)

20

In [16]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="5d7c672a-5ece-4fe1-acfb-85a7e95400e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="44385d40-82e7-4db4-9d4e-b5b0d4ef8a3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="3062804d-b927-40fb-9382-f8a51350765e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="022bda7a-e54f-46da-a831-6f5c926e811e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="86db151f-3812-4d03-a416-556efc038ad9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="f2003824-1cd0-456a-90ae-148a8908ac9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="d86d23c4-68a7-4a1f-ac5b-391dc16a292d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="4cbd8d59-fc8e-463e-853b-c8503727907b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="60486945-ffc9-4a2d-976b-8e58f54077a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="7c4c2eef-306c-46a0-8a0b-ad98026017b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="ec443ac1-3a15-40ab-aa21-632a00918199")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="efd7a750-9afe-430a-84ac-2ec4ef50b323")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="da7adcef-ad21-4973-94d1-e1e021b52a6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="1007f310-fd00-498a-9a3c-c89235f0634b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="d041cdce-8b87-462a-8d55-317be1437482")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="1edb3765-942d-4eb7-a33a-f0a96a784421")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="46c9eda6-1510-4963-81e1-3295e7db5ebe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="02892e2b-e438-49f2-8eb2-60afcfc83b94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="d591a64e-9020-4e2b-ac82-c2e4dbc557b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="b8267a59-5cc2-46f4-bfdc-a68ed90c29f9")>]

In [17]:
Company_name=[]
for i in company_name:
    Company_name.append(i.text)
Company_name

['Gaussian Networks Private Limited',
 'Tata Consultancy Services Ltd.',
 'Trigent Software',
 'Trigent Software',
 'AVE-Promagne',
 'Virtusa Consulting Services Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'McAfee Software (India) Pvt. Ltd',
 'Gokaldas Exports Ltd',
 'Walmart Labs',
 'HyreFox Consultants Pvt Ltd',
 'Philips India Limited',
 'AECOM India Private Limited',
 'IBM India Pvt. Limited',
 'INTERTRUST GROUP',
 'Empower Retirement',
 'Flipkart',
 'Flipkart']

In [18]:
len(Company_name)

20

In [19]:
job_experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]")
job_experience

[<selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="8472ed96-0a38-49fd-a18a-b2067fa63793")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="f387ec2d-8b37-4c75-a1c9-f1ecc8923ad3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="ae4a9f4a-29e5-4348-a9cb-4b1c0ef2a847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="339117f6-c3ad-4c37-b3fd-690bffdea977")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="7a6baa92-2ce1-4fd3-b908-3d3b23c21c59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="93317e27-83e7-4c8e-92e3-bdfbe749e98a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="2f47dac3-214b-4c84-98c8-af8803221d91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="2041bd2a-05a7-4fe2-9454-fc93081e8156")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="981d3503-7681-4653-a7fd-09119aed6ef5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="5e8f5833-38ec-456a-b2f6-3ee4ee501116")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="e559c509-aa63-480f-b9c9-a506c7cd3854")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="0be7907d-3716-4c15-807b-18b3275774c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="da4c0620-6fe8-41c6-a461-2eb01bb288d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="8e4c4afb-ac77-4b22-a02c-f39a1d70e716")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="e8fa1b75-7357-45c5-b0f3-6f8b20b67239")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="25b85f48-8794-43c8-af1d-b2019c5d3412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="5f964b08-8add-464c-bf02-c1b7d83da0c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="448aefed-230d-4e03-8738-a3ad76f3d82f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="5b66b0c8-15dd-41ad-a8f9-47efc2fdda28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="da1415e2c13b59005593d83dbf4c4716", element="7b553450-f779-4f20-89f5-f54f9faf0961")>]

In [20]:
Job_experience=[]
for i in job_experience:
    Job_experience.append(i.text)
Job_experience

['3-5 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '8-12 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '6-8 Yrs',
 '0-3 Yrs',
 '8-10 Yrs',
 '5-7 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '2-3 Yrs',
 '3-8 Yrs']

In [21]:
len(Job_experience)

20

In [159]:
jobs=pd.DataFrame({})
jobs['Job_Title']=Job_titles[:10]
jobs['Company_Name']=Company_name[:10]
jobs['Job_Location']=Job_location[:10]
jobs['Experience_Required']=Job_experience[:10]
jobs

,Job_Title,Company_Name,Job_Location,Experience_Required
0,Senior Data Analyst,Tata Consultancy Services,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga...",3-5 Yrs
1,Tcs Hiring For Senior Data Analyst (bfsi domain),IBM,Gurgaon/Gurugram,6-11 Yrs
2,Business Data Analyst,Accenture,"Ghaziabad, Faridabad, Delhi / NCR",5-10 Yrs
3,Business Data Analyst,Delhivery,"Noida, Gurgaon/Gurugram, Delhi / NCR",5-10 Yrs
4,Business Data Analyst - Google Data Studio & SQL,Ericsson-Worldwide,"Noida, New Delhi, Gurgaon/Gurugram",3-8 Yrs
5,Senior Data Analyst,UnitedHealth Group,Gurgaon/Gurugram,8-12 Yrs
6,Tcs Hiring For MDM (master data management) Da...,Optum,"Noida, Gurgaon/Gurugram",6-11 Yrs
7,Senior Data Analyst IDAM Services,Optum Global Solutions,Gurgaon/Gurugram,4-8 Yrs
8,Data Analyst/Sr.Data Engineer,Valiance Solutions,Gurgaon/Gurugram,4-9 Yrs
9,SENIOR DATA ANALYST,EXL Service,Noida,6-8 Yrs

# Q2

In [24]:
driver = webdriver.Chrome(r"C:\Users\hp\Desktop\Flip Robo\chromedriver.exe")

In [25]:
url= "https://www.naukri.com/"
driver.get(url)

In [26]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job
search_job.send_keys('Data Scientist')

In [27]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc
search_loc.send_keys('Banglore')

In [28]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn
search_btn.click()

In [29]:
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="3e9917e6-ff5b-4194-b199-91189fee8620")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="6fd21428-e56d-426a-b2c6-d3d43a9b4a1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="f7208c0f-530b-4f99-b9f9-81e360bc2438")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="947dfdaa-3f07-4628-abcb-581cd7a749dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="3284bc28-9f39-41f3-b82e-110bbac8ae64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="a0d1d938-f03a-43be-9084-bcfa292a0aef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="4ec09b43-4116-4d00-9238-d5a0bef6b884")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="5b8b6495-9088-471a-a666-797a715cf565")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="b73dc276-5d2f-4dd3-9fb1-9164388212ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="beaf78af-39a4-4ac6-a50a-922ddd879e91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="281c4009-414c-4430-9a6d-934d7dd79b41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="3f2b8413-8fa0-431b-a981-ffa623cb42d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="c766f8c7-cac4-4a0e-b2c1-4fcf87b153f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="6210997a-b0a2-4a33-b7ad-29d992015dca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="b7cc2feb-8f6b-4b65-8d51-669888f67416")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="cc37a3a4-c717-42c1-a138-4bf214eb9847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="b00b9bf8-cab9-41f0-aa7a-b3e60befb753")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="a566d832-6889-4c02-8bd9-c75a683cfa7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="8815001f-46a7-46b4-a86f-684db95a95d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="b66426b8-8e94-48e4-8898-d69517d07bf6")>]

In [30]:
Job_title=[]
for i in job_title:
    Job_title.append(i.text)
Job_title

['Hiring For Data Scientist',
 'Lead Data Scientist BFSI',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Senior Data Scientist IN4',
 'Senior Data Scientist (Marketplace)',
 'Hiring For Manager and Sr. Manager | Data Scientist',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist (Python & SQL)',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist- Senior Business Analyst/Lead Analyst',
 'Data Scientist- Python/R (3+ Years)',
 'Data Scientist - Predictive Modelling/ML']

In [31]:
len(Job_title)

20

In [32]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="010485cc-c269-4978-af7e-487d6e0117a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="c526a754-5bae-43d0-bea8-d4d03c532e1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="3bb33976-8cff-403f-bcb6-76d40d17abcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="96418a09-b87e-48a2-b796-275712267ab1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="0342f941-9db9-44ec-9222-acf5502891c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="ac1201e4-d92d-4657-98b2-343f9e632341")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="ffc5947d-ed58-422b-b32c-c30a439698a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="a5e5790e-cea0-41a2-9823-68b80a4dfab0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="6f50be39-f562-4d7e-a984-bf24d750e558")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="9321898d-4905-489a-884f-fe97d4df21a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="2e062543-2048-474d-b213-cad54610c04c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="afc35220-191a-41bb-bd69-be1804beaf0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="802b9783-08f2-4658-979f-b2e6fd163893")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="a4771bcd-4650-45f5-91aa-6da699057d0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="c826740b-4006-46df-aa4c-0bc0b9de917e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="415c2977-d6e8-43b5-ba31-bf364a8445d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="53c836d6-d7c6-4caa-94da-9bce03c13d8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="fc6ae07a-bad7-4fb2-ad64-72d313c22cb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="03a1b89e-2d13-43fc-bcaf-12729e676839")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="a184a1d3-a361-4a20-bedb-860a4c1657a5")>]

In [33]:
Company_name=[]
for i in company_name:
    Company_name.append(i.text)
Company_name

['Tata Consultancy Services Ltd.',
 'IBM India Pvt. Limited',
 'Philips India Limited',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Walmart Labs',
 'Airbnb',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Happiest Minds Technologies Pvt.Ltd',
 'Walmart Labs',
 'Walmart Labs',
 'Vision Beyond Resources India Private Limited',
 'CRISIL LIMITED',
 'AVE-Promagne',
 'Wrackle Technologies Pvt Ltd',
 'Evalueserve.com Pvt. Ltd',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'BRIDGEi2i Analytics Solutions Private Limited']

In [34]:
len(Company_name)

20

In [35]:
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="36617130-0ff7-4c1e-aff8-02ba002a7b13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="a28a9cd3-25de-469f-9197-fca5eb576a0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="eb192ec9-beee-40b2-9279-6982453acd8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="911aa979-e60b-4dde-9d5f-af5bf740f092")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="39679890-241a-401b-86f0-c55706e144b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="a852090b-4241-4080-b726-91598259e841")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="9c98c6eb-3c9f-4c4f-8ad3-387f14384c9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="7f8b640e-bec7-4aac-8177-16c29b3bea58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="2b88d9a4-7e64-441a-ad82-a9d6ed9447d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="84b88179-9331-4883-849f-4b6e1c34d972")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="45f16fc5-63cf-4196-904e-3240a2dd05f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="12ba93ee-0939-4ae4-8a3f-926f34f9b661")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="e46b9785-eed8-4a59-8b7b-bbb4a073759f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="720beaff-e211-4b05-890f-de0bb9c34248")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="f1c365c5-2c3e-47cf-823f-8a9c3d2d7637")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="1d3e223f-7514-4720-8fd1-20fd50fafae4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="755649c5-a37f-4d10-8a78-b628665271c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="22dc00c9-61b9-46eb-80d2-236e5510f209")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="c24ee65f-2a88-4a58-858d-7eb454eba635")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="95a2c98a-5dfc-4c1c-8fe7-5db525cfc3da")>]

In [36]:
Job_location=[]
for i in job_location:
    Job_location.append(i.text)
Job_location

['Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Mumbai, New Delhi, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [37]:
len(Job_location)

20

In [38]:
desc_url=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
desc_url

[<selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="3e9917e6-ff5b-4194-b199-91189fee8620")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="6fd21428-e56d-426a-b2c6-d3d43a9b4a1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="f7208c0f-530b-4f99-b9f9-81e360bc2438")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="947dfdaa-3f07-4628-abcb-581cd7a749dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="3284bc28-9f39-41f3-b82e-110bbac8ae64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="a0d1d938-f03a-43be-9084-bcfa292a0aef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="4ec09b43-4116-4d00-9238-d5a0bef6b884")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="5b8b6495-9088-471a-a666-797a715cf565")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="b73dc276-5d2f-4dd3-9fb1-9164388212ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="beaf78af-39a4-4ac6-a50a-922ddd879e91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="281c4009-414c-4430-9a6d-934d7dd79b41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="3f2b8413-8fa0-431b-a981-ffa623cb42d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="c766f8c7-cac4-4a0e-b2c1-4fcf87b153f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="6210997a-b0a2-4a33-b7ad-29d992015dca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="b7cc2feb-8f6b-4b65-8d51-669888f67416")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="cc37a3a4-c717-42c1-a138-4bf214eb9847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="b00b9bf8-cab9-41f0-aa7a-b3e60befb753")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="a566d832-6889-4c02-8bd9-c75a683cfa7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="8815001f-46a7-46b4-a86f-684db95a95d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a1ba1da64130e2d5afd571d2fd9ae4", element="b66426b8-8e94-48e4-8898-d69517d07bf6")>]

In [39]:
Desc_url=[]
for i in desc_url:
    Desc_url.append(i.get_attribute('href'))
Desc_url

['https://www.naukri.com/job-listings-hiring-for-data-scientist-tata-consultancy-services-chennai-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-110921000464?src=jobsearchDesk&sid=16315348205883421&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=16315348205883421&xp=2&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=16315348205883421&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-allegis-services-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-130921603395?src=jobsearchDesk&sid=16315348205883421&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-allegis-services-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-130921003393?src=jobsearchDesk&sid=16315348205883421&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=16315348205883421&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-walmart-labs-bangalore-bengaluru-6-to-10-years-090921501063?src=jobsearchDesk&sid=16315348205883421&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-airbnb-bangalore-bengaluru-7-to-12-years-080921500017?src=jobsearchDesk&sid=16315348205883421&xp=8&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-6-to-8-years-010921906637?src=jobsearchDesk&sid=16315348205883421&xp=9&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-010921906105?src=jobsearchDesk&sid=16315348205883421&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-070921501517?src=jobsearchDesk&sid=16315348205883421&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-in4-walmart-labs-bangalore-bengaluru-7-to-10-years-090921501064?src=jobsearchDesk&sid=16315348205883421&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-marketplace-walmart-labs-bangalore-bengaluru-4-to-8-years-090921500549?src=jobsearchDesk&sid=16315348205883421&xp=13&px=1',
 'https://www.naukri.com/job-listings-hiring-for-manager-and-sr-manager-data-scientist-vision-beyond-resources-india-private-limited-noida-mumbai-new-delhi-gurgaon-gurugram-bangalore-bengaluru-8-to-13-years-090921005986?src=jobsearchDesk&sid=16315348205883421&xp=14&px=1',
 'https://www.naukri.com/job-listings-requirement-for-data-scientist-mumbai-bangalore-crisil-limited-bangalore-bengaluru-mumbai-all-areas-2-to-6-years-080921005523?src=jobsearchDesk&sid=16315348205883421&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-ave-promagne-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-8-years-060921904967?src=jobsearchDesk&sid=16315348205883421&xp=16&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bangalore-bengaluru-6-to-11-years-080221900886?src=jobsearchDesk&sid=16315348205883421&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-senior-business-analyst-lead-analyst-evalueserve-com-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-2-to-7-years-110821005065?src=jobsearchDesk&sid=16315348205883421&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-r-3-years-crescendo-global-leadership-hiring-india-private-l-imited-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-3-to-8-years-110921000469?src=jobsearchDesk&sid=16315348205883421&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-predictive-modelling-ml-bridgei2i-analytics-solutions-private-limited-bangalore-bengaluru-3-to-6-years-130921005124?src=jobsearchDesk&sid=16315348205883421&xp=20&px=1']

In [40]:
len(Desc_url)

20

In [41]:
import time
from selenium.common.exceptions import NoSuchElementException

In [42]:
job_description=[]
for i in Desc_url:
    driver.get(i)
    
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_desc.text)
    except:
        job_description.append("--")
job_description

['Job description\nMinumum 3 years of experience in Data Science/Machine learning\n\nLocation : PAN INDIA\nExp : 3 - 7 Years\n\nMinimum 3 year of experience in being Applied Machine Learning Engineer role\nResearch, develop, and implement prediction, optimization, and analytics tools.\nDocument and communicate methodology and results to technical and non-technical audiences\nGuide and implement best practices of curated data and evaluate ML models on large-scale data\nLead design and implementation of Machine Learning algorithms, combining with rule-based optimization to deliver significant improvement in\nproduct metrics\nWrite production ready high quality, maintainable and scalable code.\nDesign and analyze metrics to verify model and algorithm effectiveness.\nExperience with data analysis languages such as Python or Scala\nExperience with Machine Learning tools (Azure ML, SageMaker, TensorFlow, Kubernetes, etc.)\nExperience with Machine Learning Languages (R, Python, .Net Core, etc.)\n\nRoleProduct Manager\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nKey Skills\nData ScienceMachine LearningPython\nTensorflowAlgorithmsSCALAData AnalysisAnalyticsKubernetes\nSkills highlighted with ‘‘ are preferred keyskills',
 '--',
 'Job description\nUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes\nWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.\nSelecting features, building and optimizing classifiers using machine learning and deep learning techniques\nCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems\nProcessing, cleansing, and verifying the integrity of data used for analysis\nDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.\nAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.\nJob Qualifications:\nMaster s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development\nExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.\nStrong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc\nHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learning\nStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.\nDeep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalent\nExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.\nProficiency in using query languages, such as SQL, PL/SQL\nHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.\nGood applied statistics skills, such as distributions, statistical testing, regression, etc.\nGood ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.\nA team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.\nAbility to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlines\nA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.\nA self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science\nRoleClinical Research Associate/Scientist\nIndustry TypeMedical Services / Hospital\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Post Graduation Not Required\nKey Skills\nProduct managementComputer sciencemetadataMachine learningAgilePLSQLHealthcareQlikViewData miningPython',
 "Job description\n\nMust Have skill sets:\n\nExcellent knowledge of various statistical / Machine Learning / Deep Learning algorithms such as Feature Engineering/selection, Time series, Regression, Classification, Clustering, Recommendation Engine, Anomaly Detection, NLP, Reinforcement Learning etc.)\n4 to 8 years of hands-on expertise in developing data science models by applying above mentioned algorithms on structured / text data, using R / Python\nProficient in writing optimized query using any one of the DB query language (Hive/Impala/SQL/MongoDB etc.). Knowledge of big data is essential\n\nGood to Have skill sets:\n\nVisualization using any one of the technologies (Tableau, PowerBI, RShiny, matplotlib, ggplot etc.). In case of lack of skills, eagerness to learn is must\nInsight Generation and Story telling to end consumers\nExperience across end to end data science project life cycle (use case framing, data collection, data exploration, design of experiments, model development, selection and deployment, post production support)\nSelf-motivated to learn different techniques / technologies, as per the project's need and go extra mile to bring customer delight\n\nEducational Qualification:\n\nAny of the following:\n• Bachelors in Engineering / MCA\n• Masters in Data Science/ Computer Applications/ Statistics/ Mathematics/ Economics/ Ops Research/ Other quantitative disciplines\n• MBA\n\nJob Responsibilities:\nOwn and execute end to end delivery of one or more than one data science model development, as per requirement provided by project/product manager\nUnderstand business requirements from Product Managers/Business Users\nExtract data from multiple data sources using Hadoop / SQL\nDevelop, Validate and Operationalize predictive models using appropriate variables and ML/deep learning techniques\nPerform ad-hoc deep dive analysis and generate actionable insights\nCreate technical documentation and provide post-production support for a time-bound period\nCommunicate the results to technical as well as business stakeholders across different hierarchies\nRoleData Analyst\nIndustry TypeRecruitment / Staffing\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Any Specialization\nKey Skills\nData ScienceMachine LearningPython\nAnomaly DetectionMatplotlibRNLPReinforcement LearningDeep LearningSQL\nSkills highlighted with ‘‘ are preferred keyskills",
 '--',
 '--',
 'Job description\nAs a Senior Data Scientist for Walmart, you ll have the opportunity to:\nDrive data-derived insights across a wide range of divisions by developing advanced statistical models, machine learning algorithms and computational algorithms based on business initiatives\nDirect the gathering of data, assessing data validity and synthesizing data into large analytics datasets to support project goals\nUtilize big data analytics and advanced data science techniques to identify trends, patterns, and discrepancies in data. Determine additional data needed to support insights\nBuild and train statistical models and machine learning algorithms\nApply your semantic, natural language processing and understanding expertise where required\nUse deep learning and image recognition project goals\nComputer Vision will be an important focus area for this role\nProductionize the models and make those available at scale\nBuild and maintain end to end Machine Learning pipelines\nBe comfortable with ambiguity and uncertainty and the eagerness to change the world in a huge way by being a self-motivated learner and builder\nCommunicate recommendations to business partners and influencing future plans based on insights\nYour Responsibility\nPlay a key role to solve complex problems, pivotal to Walmart s business and drive actionable insights from petabytes of data\nUtilize product mindset to build, scale and deploy holistic data science products after successful prototyping\nDemonstrate incremental solution approach with agile and flexible ability to overcome practical problems\nPartner with senior team members to assess customer needs and define business questions\nClearly articulate and present recommendations to business partners, and influence future plans based on insights\nWork with customer centric mindset to deliver high quality business driven analytic solution\nDrive innovation in approach, method, practices, process, outcome, delivery, or any component of end-to-end problem solving\nDemonstrates up-to-date expertise and applies this to the development, execution, and improvement of action plans\nPreferred Qualifications\nBachelors degree in Statistics, Mathematics, Computer Science or a related field and 8 years experience in an analytics/DS related field, or,\nMasters degree in Statistics, Mathematics, Computer Science or a related field and 6 years experience in an analytics/DS related field.\nHigh proficiency in data mining, modeling, validation and insight generation.\nExcellent working knowledge of statistics, mathematics, machine learning, data mining, deep learning\nHigh proficiency in coding including Python and SQL\nExperience with databases (for example, DB2, Oracle, SQL Server)\nExperience with Big Data technologies such as Pig, Hive and/or Spark\nAbility to work with large data sets. Has sound understanding of big data technology stack\nUnderstanding of cloud computing platforms and large-scale databases\nProven ability to collaborate and work in teams\nExcellent with communications and stakeholder engagement\nData science publications in recognized platforms/journals\nProven ability to work in agile mode on data science sprint projects\nRoleDatabase Architect/Designer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nProcurementComputer scienceCloud computingData analysisdata scienceDb2CodingAgileData miningPython',
 'Job description\nResponsibilities include:\nDefining and evaluating key metrics and understanding what moves them and why\nOwnership of conceptualizing, developing, and maintaining dashboards and visualizations\nInvestigating evolving fraud trends to extract patterns, identify root causes and propose actionable solutions\nCommunicating analyses and recommendations to cross functional stakeholders for decision making\nEmpowering the team to answer data questions quickly and easily by building high-quality ground truth data sets\nHere are example traits we value:\nProfessional industry experience in a quantitative analysis role (7+ years preferred)\nComfortable in SQL and some experience with a programming language (Python or R a plus)\nAbility to communicate clearly and effectively to cross functional partners of varying technical levels\nAbility to define relevant metrics that can guide and influence stakeholders to the appropriate and accurate insights\nExperience or willingness to learn tools to create data pipelines using Airflow\nBuilding clear and easy to understand dashboards (Tableau) and presentations\nRoleGraphic/Web Designer\nIndustry TypeInternet\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData ScienceRData ScientistTableauPythonSql',
 '--',
 '--',
 'Job description\n  Skills\nRequired Skills: Data Science, Machine Learning, Deep Learning, Python, NLP\nDesired Skills: Computer Vision\nRoles and responsibilities\nExperience in Data Modelling, R, Python, SQL, Data Science, Machine Learning, Deep Learning, NLP, Statistics\nHave ability to solve Business problems using Data\nShould possess extensive knowledge of and experience in applying data mining and machine learning techniques on large amount of datasets\nHigh level of proficiency in statistical tools like R, Python\nCandidate will be expected to communicate analytical results in a way that is meaningful for business stakeholders and provides actionable insights.\nHave the ability to discover new opportunities where advanced analytical techniques can be leveraged for solving business problems\nGood to Have\nExpertise in programming languages like Java/C/C /Python\nExperience with relational databases and SQL is good to have\nExperience in audio and video analytics\nRelevant experience in Big Data platforms like Hadoop eco-system\nCome up with innovative algorithms and solutions\nStaffing Type:Permanent\nRoleClinical Research Associate/Scientist\nIndustry TypeIT Services & Consulting\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nHospitalityNSEStaffingBfsiAnalyticalAgileData miningAnalyticsAutomotiveSQL',
 'Job description\nDesign, coordinate, and implement data driven business and technology solutions to support innovation initiatives\nCommunicate complex models, analysis and recommendations in a clear and precise manner\nProvide thought leadership in statistical modeling and machine learning/ AI. NLP and Deep Learning are the two focus areas\nDeliver actionable insights to stakeholders through rich visualization and presentation\nManage priorities between research and deliverables effectively\nCollaborate actively with topic owners to understand and develop advanced analytics / data science\nYour Qualifications\nBachelor s degree in Engineering / Analytics or Master s Degree in Statistics/Computer Applications/ IT/Analytics /any discipline related to Data Science / Analytics.\n7 years of progressive experience in Machine learning/Deep learning preferably working with packages like NLTK, BERT, ELMo etc\nFluent in Python and have experience with NLP libraries like , Spacy, Genism, Glove, doc2vec etc.\nExposure to Microsoft LUIS will be preferred\nPossess advanced knowledge of the HuggingFace libraries and concepts like tokens, tokenization, stemming, lemmatization, regex.\nSolid command on statistics and ability to connect theory and practice of data mining, machine learning to solve real-world use case\nl Strong working knowledge of Python (BERT, GPT, genism, SpaCy, tensorflow, Theano, PyTorch, SciPy, scikit-learn, pandas), SQL, Unix (awk, sed, bash) for data wrangling, data analysis, modeling.\nKnowledgeable in Natural Language processing (NLP) and quantitative analysis\nPrevious experience building chatbots for Customer Service / specific business verticals (Bonus)\nInteresting side projects or Kaggle competition results (Bonus)\nExcellent critical thinking ability, result orientation and project management skills\nSound verbal and written communication skills\nRoleSystem Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Production/Industrial\nPG :M.Tech in Production/Industrial\nKey Skills\nUnixData analysisMachine learningCustomer supportCustomer serviceData miningmicrosoftAnalyticsSQLPython',
 'Job description\nPosition Responsibilities\no Solve business problems by applying advanced Machine Learning algorithms and complex statistical models on large volumes of data.\no Build, scale and deploy holistic data science products after successful prototyping.\no Clearly articulate and present recommendations to business partners, and influence future plans based on insights.\no Follow industry best practices, stay up to date with the state of the art in machine learning research and practice, drive innovation by contributing to the latest applied research in data science through publications and patents.\no Promote and support company policies, procedures, mission, values, and standards of ethics and integrity.\nPosition Requirements\no Deep knowledge of the foundations of machine learning and statistics - can easily understand and implement a machine learning research paper.\no Solid experience working with state-of-the-art supervised and unsupervised machine learning algorithms on real-world problems, preferably in ecommerce domain.\no Strong Python coding skills and able to work with at least one other programming language such as Java/Scala.\no Ability to work in a big data ecosystem - expert in SQL/Hive and ability to work with Spark.\no Strong ability to understand the business and good stakeholder management capabilities.\nQualifications\no PhD with > 2 years of experience / 4-year bachelor s degree with > 7 years of experience / Master s degree with > 5 years of experience. Educational qualifications should be preferably in Computer Science or a related area. Experience should be relevant to the role.\nGood to have:\no Experience in ecommerce domain.\no Demonstrated success in data science platforms like Kaggle.\nRoleTeam Lead/Technical Lead\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Other\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nComputer sciencedata scienceCodingMachine learningSCALAE-commerceStakeholder managementAnalyticsSQLPython',
 'Job description\nHello,\nWe are hiring on behalf of one of the largest BPO/ Consulting services.\nThe skills rquired are Natural Language Processing, Python, Data Science and Machine Learning.\n\nTitle: Manager / Sr. Manager\nLocation:Bangalore , Gurugram, Mumbai\nDuration : Fulltime\nMax Notice:1 Month\nRoleHead/VP/GM - Analytics & BI\nIndustry TypeRecruitment / Staffing\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategorySenior Management\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nDoctorate :Any Doctorate\nKey Skills\nData ScienceNatural Language ProcessingMachine LearningPython',

In [43]:
len(job_description)

20

In [160]:
Jobs=pd.DataFrame({})
Jobs["Job_title"]= Job_title[:10]
Jobs["Company_name"]= Company_name[:10]
Jobs["Job_Location"]= Job_location[:10]
Jobs["Job_Desc"]= job_description[:10]
Jobs

,Job_title,Company_name,Job_Location,Job_Desc
0,Data Scientist/ Machine Learning Engineer,Tata Consultancy Services,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga...",Job description\nMinumum 3 years of experience...
1,Data Scientist / Data Analyst,IBM,Gurgaon/Gurugram,--
2,Data Scientist / Data Analyst / Business Analy...,Accenture,"Ghaziabad, Faridabad, Delhi / NCR",Job description\nUse predictive modeling to in...
3,Only Fresher / Data Scientist / Data Analyst /...,Delhivery,"Noida, Gurgaon/Gurugram, Delhi / NCR",Job description\n\nMust Have skill sets:\n\nEx...
4,Data Scientist / Data Analyst / Business Analy...,Ericsson-Worldwide,"Noida, New Delhi, Gurgaon/Gurugram",--
5,Data Scientist,UnitedHealth Group,Gurgaon/Gurugram,--
6,Data Scientist - Insurance,Optum,"Noida, Gurgaon/Gurugram",Job description\nAs a Senior Data Scientist fo...
7,Immediate Openings For Data Scientist For Wipr...,Optum Global Solutions,Gurgaon/Gurugram,Job description\nResponsibilities include:\nDe...
8,Data Scientist - Machine Learning/ NLP,Valiance Solutions,Gurgaon/Gurugram,--
9,Data Scientist,EXL Service,Noida,--

# Q3

In [46]:
driver = webdriver.Chrome(r"C:\Users\hp\Desktop\Flip Robo\chromedriver.exe")

In [47]:
url= "https://www.naukri.com/"
driver.get(url)

In [48]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job
search_job.send_keys("Data Scientist")

In [49]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn
search_btn.click()

In [50]:
filter_loc=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
filter_loc
filter_loc.click()

In [51]:
filter_salary=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
filter_salary
filter_salary.click()

In [52]:
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="53f1bca8-84b1-4213-8a7e-86a54d62fb61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="20f91eee-1bce-41e1-81c0-c68117933e3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="d8a1e477-abb4-450e-b5fe-5a281cb572a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="bd13d6bb-3a4a-4e9b-9bc3-c87c5a0dbc1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="66398e5e-d94b-4316-a7c6-64a204a20f15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="fb7429fa-ca66-4faa-9779-5c04f8f21875")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="299682de-be44-4ea2-851d-06cab1f22bc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="76ed2dc2-4cea-4b59-b123-22be36087fe7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="1db5d741-2207-45a1-a725-3b0a1543af3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="f6b72fea-357c-48a6-a2c3-e4ab42317f9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="371562ff-79a2-4d73-8aa0-7c8e5a5aad7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="eaa0f4ef-69c2-44eb-9302-f7a3f1554bcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="52f1bd16-e9d5-4943-9b8c-2903c058c17f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="6de1f31b-55e4-4bc7-a257-099583779a30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="7905b8db-3b3a-4370-bd81-58131406e55c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="e6bf6f4d-cf0b-4d07-89d2-bbd93a8f39d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="bdb3f5ed-3111-49c0-92af-445151b3892a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="01881c8d-5486-42c0-8d09-7cdde83cef87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="a0bf8282-913e-40fa-8944-a643aac631bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="d47b8721-73cb-47c3-b820-431cac83b7ce")>]

In [53]:
Job_title = []
for i in job_title:
    Job_title.append(i.text)
Job_title

['Data Scientist/ Machine Learning Engineer',
 'Data Scientist / Data Analyst',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist',
 'Data Scientist - Insurance',
 'Immediate Openings For Data Scientist For Wipro C2H',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist',
 'Data Scientist - WFH - MIND Infotech',
 'Junior Data Scientists & Engineers',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist-immediate Joiners',
 'Data Analyst/Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Internship']

In [54]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="92d357ac-beec-4583-893c-a74484e78c8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="c689a5d0-8ab1-4498-b16e-16c57cff5ce1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="f1ebdf10-bfff-4508-9633-29d684c04f05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="ed25195b-43f6-455b-bc87-6bb51a790bb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="cc5fc068-7fe5-41aa-9ec0-64616fb394e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="492449db-5ccc-4d6b-adf6-0898718dda5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="4f4e06fd-fa14-43db-886d-18a30ea8b1b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="da1c6fce-5482-49a1-bb2c-a2ece23eeff6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="4e653a22-af8b-433d-9ed4-c0c4cb54f3ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="0696965b-a365-4d77-9c19-941feac2e17d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="431e236e-faf8-467a-b367-1fa22461c16c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="e8ee0ad4-7abf-4441-94bb-1f874a8a750a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="93b42e56-b050-4b4b-81e7-99449f3a8643")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="377f70f9-636c-4779-8fe9-7ef9d4be8114")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="fa0aa5a7-199f-4b50-9d5f-edb45d450621")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="2b847f19-27cf-4b2b-97e2-bdbf47f9e332")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="f6471992-740c-4606-909d-25a45b2c7b92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="ac5c6055-ef1a-4d65-afb1-28b98b8cc042")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="90e6cd4c-1127-4727-9959-dc1155390dfc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="70e1c2f7-7e0b-49dd-9f6c-5555b152e619")>]

In [55]:
Company_name = []
for i in company_name:
    Company_name.append(i.text)
Company_name

['Creative Hands HR Consultancy',
 'CARS24',
 'GABA Consultancy services',
 'GABA Consultancy services',
 'GABA Consultancy services',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'Huquo Consulting Pvt. Ltd',
 'IDESLABS PRIVATE LIMITED',
 'TalPro',
 'R Systems International Ltd.',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'PY Consultancy',
 'Fractal Analytics',
 'Kusum Healthcare Pvt. Ltd.',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'Quikruit Consulting LLP',
 'Skillenable Fintech Private Limited',
 'BlackBuck',
 'Country Veggie',
 'iHackers Inc']

In [56]:
len(Company_name)

20

In [57]:
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="02db4575-da0c-4397-8e0a-6fb9cb41fe71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="0a3ec586-4f26-4c8e-82bf-002db652eb0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="39a402be-789f-4836-90f6-0f0e6fc48f5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="ec5b9e1e-970a-4260-8bc2-b4d99fb79063")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="20870c32-6e0b-4ba9-8e0e-fb658a7e8f5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="915c1cda-507d-4c55-8469-edc6165e8f0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="7acf0b56-baa0-418e-a7c3-45ffc38aa8fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="6ae08577-2121-441f-91a6-c4548ae6e3e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="0a5b7076-9218-47cf-82bf-b2f2c6b20b53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="c97944e6-b650-45c2-ad3e-d68ed1309c9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="3b379147-8848-4fc5-be0f-060bf16df923")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="a5924b19-c503-4e92-ade5-761481f052c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="29fe8b77-8ae6-4724-a6e6-b1f40b7a1e96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="53f48911-6088-4a1f-81f6-aff801d779be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="91f1f556-037b-463e-9f3e-2eebac15e288")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="5b78a6c2-810e-4929-a1fc-249fda656349")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="2415ea32-750e-49dc-9816-3ffc1cb8b29e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="f21674f7-2ff3-4469-90c9-e64c70d777f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="69353d2c-5fa6-4b6a-8f4d-8ae02327533f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="b28082f0-05bc-4306-a48c-269154d8e93c")>]

In [58]:
Job_location = []
for i in job_location:
    Job_location.append(i.text)
Job_location

['Hyderabad/Secunderabad, Pune, Ahmedabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Ghaziabad, Faridabad, Delhi / NCR',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Delhi / NCR',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR(Okhla)',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon, Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'New Delhi']

In [59]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]")
exp

[<selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="47b8ee14-ca2f-48b9-9709-f0c3986ee6a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="e4f27da7-fbd7-4559-a491-ef1757033a02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="dc51319d-9a15-477c-ac34-b47443f22e62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="f8f1ae38-f59e-4519-af62-3896bd2bd7ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="43008dd6-545e-4d7b-9b19-78d4178409b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="093bfbf2-3455-4036-b664-134f75e87664")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="92b3a6ff-58e7-417d-99a2-7bf5ffce531d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="2fe573d9-9158-4d0e-ad42-12a6ab062930")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="ef62d3d7-2a88-4735-9749-be21d8fb5944")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="c9d2cfcb-1433-4ef2-bc5c-e77ecc999191")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="1c9f6ac7-4ff3-4ee8-91e4-49364e60af02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="44e1c882-3079-438d-9835-0bef89d1c5c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="6b20abf0-4516-40b6-a47a-8cbe08e8bb7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="5be68728-b16a-4437-beab-2812689e8090")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="4f2231d4-2017-47b3-8d9c-dcc5cc0be4be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="331830b9-a95b-4ae3-b5bb-72b282c883fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="49e5d3a6-06e7-4470-a129-d3fac288fc99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="6f243249-556e-4fe7-ada1-31b38036b3f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="3b1d7e25-d21a-401b-b127-756e7505a746")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b25c593521401934fef0a18f3825269d", element="f9f864f5-423c-43a2-a15d-3a6ccee955a5")>]

In [60]:
Exp_req = []
for i in exp:
    Exp_req.append(i.text)
Exp_req

['0-0 Yrs',
 '1-5 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '1-3 Yrs',
 '2-7 Yrs',
 '5-10 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '0-3 Yrs',
 '3-7 Yrs',
 '4-6 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '0-1 Yrs']

In [161]:
Jobs_delhi=pd.DataFrame({})
Jobs_delhi["Job_title"]= Job_title[:10]
Jobs_delhi["Company_name"]= Company_name[:10]
Jobs_delhi["Job_Location"]= Job_location[:10]
Jobs_delhi["Experience_Req"]= Exp_req[:10]
Jobs_delhi

,Job_title,Company_name,Job_Location,Experience_Req
0,Data Scientist/ Machine Learning Engineer,Tata Consultancy Services,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga...",0-0 Yrs
1,Data Scientist / Data Analyst,IBM,Gurgaon/Gurugram,1-5 Yrs
2,Data Scientist / Data Analyst / Business Analy...,Accenture,"Ghaziabad, Faridabad, Delhi / NCR",0-0 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,Delhivery,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-0 Yrs
4,Data Scientist / Data Analyst / Business Analy...,Ericsson-Worldwide,"Noida, New Delhi, Gurgaon/Gurugram",0-0 Yrs
5,Data Scientist,UnitedHealth Group,Gurgaon/Gurugram,1-3 Yrs
6,Data Scientist - Insurance,Optum,"Noida, Gurgaon/Gurugram",2-7 Yrs
7,Immediate Openings For Data Scientist For Wipr...,Optum Global Solutions,Gurgaon/Gurugram,5-10 Yrs
8,Data Scientist - Machine Learning/ NLP,Valiance Solutions,Gurgaon/Gurugram,2-6 Yrs
9,Data Scientist,EXL Service,Noida,3-6 Yrs

# Q4

In [116]:
driver = webdriver.Chrome(r"C:\Users\hp\Desktop\Flip Robo\chromedriver.exe")

In [117]:
url=" https://www.glassdoor.co.in/index.html"
driver.get(url)

In [119]:
search_job=driver.find_element_by_id("scKeyword")
search_job
search_job.send_keys("Data scientist")
search_location=driver.find_element_by_id("scLocation")
search_location
search_location.send_keys("Noida(India)")

In [120]:
Search_btn=driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm search__SearchStyles__searchKeywordSubmit']")
Search_btn
Search_btn.click()

In [73]:
company_name=driver.find_elements_by_xpath("//a[@class=' job-search-key-l2wjgv e1n63ojh0 jobLink']")
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="785ab1e5-611c-4478-94ca-2b26faa1d342")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="70796caf-c317-45a0-84db-17f12f251d31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="fcc9d797-3f25-435a-81f7-47d09f2c4981")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="781361c9-0426-4ff8-85d9-d79a514231cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="4ddd700c-d464-4d9f-a8e6-ec30ca24192a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="d9d627ef-2163-48a9-ad99-bc6f0ee2d2ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="866de868-3e28-4d86-8538-fce3b6062320")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="0a06dffa-a8af-4469-bc2b-46ca7e427a7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="8061c8a4-62fe-42f0-9bff-658cc3d4115a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="5aaedb7d-7fb3-4d3b-af6a-6e85966d772f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="7bcf8089-0a3d-4d92-82ef-b842a52a6f16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="b3fffe15-0ccc-4ec3-be09-e996891675e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="0f9bf03d-bae7-4c80-a6e9-9199c214f256")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="dd7d6b1e-6542-45dc-b19f-3a99e01bc948")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="b8b68f6d-e4fc-48b7-a326-1acac49f9608")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="d5c4065b-9b6b-40c5-94d7-284d5e93c261")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="b850ea38-f604-4d46-84f3-8cdba1eff486")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="58c4e422-bc24-40da-837d-2dc1d4eb4882")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="6338cab8-7fca-459a-9971-63f7a501b139")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="d516ea4d-09ce-4519-9739-23d6f18b2b12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="05dd9bef-13fa-4bf2-afd6-c1ac0adb3419")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="297f05d4-3dc7-498d-99f6-ec53b368b9ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="f14dc053-255e-4538-9df2-1257cce11326")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="ffb0bbd4-601b-4831-88ca-2727761e76b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="90c09647-b8bf-4a49-951f-32cd178d0a2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="08e6ae40-c182-431e-be04-f317bee0bcce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="1c3dc3e6-eeca-4499-8b27-5dae30190b07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="84b441fa-a40e-441d-a99a-0c4daab0fdd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="d26b46f2-1493-4704-92b6-728d50681c64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="415130646b1edba4dc63dd55368a6280", element="de47f47a-328c-4d01-8b7b-2e43be2659b5")>]

In [74]:
Company_name = []
for i in company_name:
    Company_name.append(i.text)
Company_name

['Applied Materials Inc.',
 'software company',
 'Airtel India',
 'limeroad.com',
 'Argoid',
 'Top Mentor',
 'Lenskart',
 'Patient Bond India Private Limited',
 'Elpis IT Solutions',
 'Reach52, Inc.',
 'IBM',
 'NEC Opportunities',
 'HP',
 'Deciman',
 'NielsenIQ',
 'OneAssist Consumer Solutions Private Limited',
 'HDFC Bank',
 'Mercedes-Benz Research and Development India Private Limited',
 'Argoid',
 'Amantya Technologies',
 'Saishaa Services',
 'Crypto Mize',
 'Maersk',
 'ING',
 'Ishatva Management Solutions',
 'Myian pharma',
 'GE Aviation',
 'Adidas',
 'AlgoScale Technologies Private Limited',
 'McKinsey & Company']

In [76]:
len(Company_name)

30

In [77]:
days_ago=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
days_ago
Days_ago = []
for i in days_ago:
        Days_ago.append(i.text)
Days_ago

['30d+',
 '18d',
 '24d',
 '19d',
 '7d',
 '5d',
 '6d',
 '24h',
 '6d',
 '10d',
 '2d',
 '25d',
 '12d',
 '30d+',
 '2d',
 '4d',
 '17d',
 '20d',
 '24h',
 '30d+',
 '21d',
 '27d',
 '23d',
 '10d',
 '14d',
 '21d',
 '12d',
 '8d',
 '19d',
 '16d']

In [78]:
rating=driver.find_elements_by_xpath("//div[@class='d-flex flex-column job-search-key-1pzmdmc e1rrn5ka1']")
rating
Rating = []    
for i in rating:
    try:
        Rating.append(i.text)
    except:
        Rating.append('-')
Rating

['3.9',
 '5.0',
 '3.8',
 '',
 '',
 '',
 '3.6',
 '4.0',
 '3.4',
 '4.8',
 '3.9',
 '',
 '4.2',
 '3.7',
 '3.9',
 '3.6',
 '3.6',
 '3.9',
 '',
 '4.6',
 '',
 '5.0',
 '4.1',
 '4.0',
 '',
 '',
 '3.6',
 '4.0',
 '3.9',
 '4.4']

In [79]:
for index, x in enumerate(Rating):
    if x=="":
        Rating[index]="-"
print(Rating)

['3.9', '5.0', '3.8', '-', '-', '-', '3.6', '4.0', '3.4', '4.8', '3.9', '-', '4.2', '3.7', '3.9', '3.6', '3.6', '3.9', '-', '4.6', '-', '5.0', '4.1', '4.0', '-', '-', '3.6', '4.0', '3.9', '4.4']

In [162]:
glassdoor=pd.DataFrame({})
glassdoor["Company_Name"]= Company_name[0:10]
glassdoor["No. of days ago"]= Days_ago[0:10]
glassdoor["Rating"]=Rating[0:10]
glassdoor

                Company_Name No. of days ago Rating
0  Tata Consultancy Services            30d+      5
1                        IBM             18d      5
2                  Accenture             24d      5
3                  Delhivery             19d
4         Ericsson-Worldwide              7d
5         UnitedHealth Group              5d
6                      Optum              6d
7     Optum Global Solutions             24h
8         Valiance Solutions              6d
9                EXL Service             10d

# Q5

In [121]:
driver = webdriver.Chrome(r"C:\Users\hp\Desktop\Flip Robo\chromedriver.exe")

In [122]:
url= "https://www.glassdoor.co.in/Salaries/index.html"
driver.get(url)

In [123]:
search_job=driver.find_element_by_id("KeywordSearch")
search_job
search_job.send_keys("Data scientist")
search_location=driver.find_element_by_id("LocationSearch")
search_location
search_location.send_keys("Noida(India)")

In [101]:
Search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
Search_btn
Search_btn.click()

In [102]:
company_name=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
company_name

Company_name=[]
for i in company_name:
    Company_name.append(i.text)
Company_name

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service',
 'Cognizant Technology Solutions',
 'ZS Associates',
 'Nagarro',
 'Innovaccer',
 'OYO',
 'dunnhumby',
 'Amazon',
 'Fresher',
 'CARS24.com',
 'Vidooly Media Tech']

In [103]:
len(Company_name)

20

In [104]:
no_of_salaries=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span[1]")
no_of_salaries

No_of_salaries=[]
for i in no_of_salaries:
    No_of_salaries.append(i.text)
No_of_salaries

['22 salaries',
 '20 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries']

In [124]:
avg_salaries=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3")
avg_salaries

Avg_salaries=[]
for i in avg_salaries:
    Avg_salaries.append(i.text)
Avg_salaries

['₹6,28,021',
 '₹9,08,246',
 '₹11,93,390',
 '₹12,49,716',
 '₹7,58,335',
 '₹12,80,000',
 '₹12,70,000',
 '₹14,55,430',
 '₹8,86,064',
 '₹11,10,000',
 '₹9,62,227',
 '₹11,71,868',
 '₹11,01,815',
 '₹12,40,275',
 '₹14,51,902',
 '₹11,30,374',
 '₹20,63,782',
 '₹61,566',
 '₹10,80,727',
 '₹35,040']

In [128]:
range_salaries=driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")
range_salaries

[<selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="93d9e777-04b7-4735-a2ad-e461ac2ea0b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="2bdf62dc-a885-45da-989d-968fd678a84b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="ac9a99e6-ec3d-4b1d-a7ff-587a5a59c49a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="0710516d-ad06-4be7-bb4e-e32137dd76cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="4c50da60-0ece-4455-b634-0f6474f3d844")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="506c408a-f51c-475a-9cd9-7c13b11415aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="c1eb6f68-3461-45ec-a12f-893e21caf1d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="d6e8e511-5899-4fe7-bb69-e02a5f272dc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="2d09e82d-4ac9-4ce2-aafa-e50c52c33fe3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="90276dbf-bd18-4f9f-80d4-5241de73cdcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="20b602e6-76af-4ea8-aef5-1085fa0f4d9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="dbcf4aea-1d7e-415d-8714-10c233d8ad40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="35064472-2aac-4432-8bb1-314b08b051c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="f57a2477-08c6-4a0a-9f88-b7c57fec7412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="30615c1d-60aa-4061-820b-cb3f5577f7a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="37439702-f517-4c3f-891b-59ea626f0a59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="6f212f7c-4050-495c-b4fb-7d28a5a55e73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="43345ed4-7c14-49db-9e1b-0b5070b7e9ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="b65c4c94-5a9d-40f7-8fcd-199d88e41ade")>,
 <selenium.webdriver.remote.webelement.WebElement (session="053184e2dbe3cc947ccd0dfef2721b12", element="25758baa-017f-4883-ad6d-dd55d5c17a56")>]

In [129]:
Range_salaries=[]
for i in range_salaries:
    Range_salaries.append(i.text)
Range_salaries

['Range: ₹4L - ₹13L',
 'Range: ₹1L - ₹28L',
 'Range: ₹6L - ₹23L',
 'Range: ₹5L - ₹1Cr',
 'Range: ₹4L - ₹17L',
 'Range: ₹8L - ₹16L',
 'Range: ₹8L - ₹20L',
 'Range: ₹10L - ₹18L',
 'Range: ₹5L - ₹15L',
 'Range: ₹6L - ₹16L',
 'Range: ₹4L - ₹13L',
 'Range: ₹2L - ₹19L',
 'Range: ₹4L - ₹21L',
 'Range: ₹6L - ₹17L',
 'Range: ₹10L - ₹21L',
 'Range: ₹8L - ₹21L',
 'Range: ₹10L - ₹30L',
 'Range: ₹25T - ₹1L',
 'Range: ₹9L - ₹15L',
 'Range: ₹12T - ₹64T']

In [130]:
min_salaries=[]
max_salaries=[]
for x in Range_salaries:
    temp=x.replace('Range: ','').strip()
    salaries=[]
    salaries=temp.split('-')
    min_salaries.append(salaries[0].strip())
    max_salaries.append(salaries[1].strip())
print(min_salaries)
print(max_salaries)

['₹4L', '₹1L', '₹6L', '₹5L', '₹4L', '₹8L', '₹8L', '₹10L', '₹5L', '₹6L', '₹4L', '₹2L', '₹4L', '₹6L', '₹10L', '₹8L', '₹10L', '₹25T', '₹9L', '₹12T']
['₹13L', '₹28L', '₹23L', '₹1Cr', '₹17L', '₹16L', '₹20L', '₹18L', '₹15L', '₹16L', '₹13L', '₹19L', '₹21L', '₹17L', '₹21L', '₹21L', '₹30L', '₹1L', '₹15L', '₹64T']

In [131]:
len(min_salaries)

20

In [132]:
len(max_salaries)

20

In [163]:
glassdoor_salaries=pd.DataFrame({})
glassdoor_salaries["Company_Name"]=Company_name[0:10]
glassdoor_salaries["No. of_Salaries"]=No_of_salaries[0:10]
glassdoor_salaries["Avg Salary"]=Avg_salaries[0:10]
glassdoor_salaries["Min Salary"]=min_salaries[0:10]
glassdoor_salaries["Max Salary"]=max_salaries[0:10]
glassdoor_salaries

                Company_Name No. of_Salaries  Avg Salary Min Salary Max Salary
0  Tata Consultancy Services     22 salaries   ₹6,28,021        ₹4L       ₹13L
1                        IBM     20 salaries   ₹9,08,246        ₹1L       ₹28L
2                  Accenture     15 salaries  ₹11,93,390        ₹6L       ₹23L
3                  Delhivery     15 salaries  ₹12,49,716        ₹5L       ₹1Cr
4         Ericsson-Worldwide     14 salaries   ₹7,58,335        ₹4L       ₹17L
5         UnitedHealth Group     14 salaries  ₹12,80,000        ₹8L       ₹16L
6                      Optum     11 salaries  ₹12,70,000        ₹8L       ₹20L
7     Optum Global Solutions     10 salaries  ₹14,55,430       ₹10L       ₹18L
8         Valiance Solutions     10 salaries   ₹8,86,064        ₹5L       ₹15L
9                EXL Service      9 salaries  ₹11,10,000        ₹6L       ₹16L

# Q6

In [136]:
driver = webdriver.Chrome(r"C:\Users\hp\Desktop\Flip Robo\chromedriver.exe")

In [137]:
url=" https://www.flipkart.com/"
driver.get(url)

In [138]:
search_bar=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_bar
search_bar.send_keys("sunglasses")

In [139]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn
search_btn.click()

In [141]:
Brand=[]
for i in range(0,3):
    try:
        brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for i in brand:
            Brand.append(i.text)
    except:
        Brand.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()
    
Brand

['GANSTA',
 'Singco India',
 'SUNBEE',
 'DEIXELS',
 'hipe',
 'Silver Kartz',
 'Rich Club',
 'NuVew',
 'IRUS by IDEE',
 'AISLIN',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'ROYAL SON',
 'Elligator',
 'Singco India',
 'GANSTA',
 'PHENOMENAL',
 'SUNBEE',
 'hipe',
 'IRUS by IDEE',
 'NuVew',
 'AISLIN',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'kingsunglasses',
 'ROYAL SON',
 'Singco India',
 'Elligator',
 'PHENOMENAL',
 'GANSTA',
 'SUNBEE',
 'hipe',
 'IRUS by IDEE',
 'NuVew',
 'Fastrack',
 'kingsunglasses',
 'GANSTA',
 'Singco India',
 'SUNBEE',
 'DEIXELS',
 'hipe',
 'Silver Kartz',
 'Rich Club',
 'NuVew',
 'IRUS by IDEE',
 'AISLIN',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'ROYAL SON',
 'Elligator',
 'Singco India',
 'GANSTA',
 'PHENOMENAL',
 'SUNBEE',
 'hipe',
 'IRUS by IDEE',
 'NuVew',
 'AISLIN',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'kingsunglasses',
 'ROYAL SON',
 'Singco India',
 'Elligator',
 'PHENOMENAL',
 'GANSTA',
 'SUNBEE',
 'hipe',
 'IRUS by IDEE',
 'NuVew',
 'Fastrack',
 'kingsunglasses',
 'GANSTA',
 'Singco India',
 'SUNBEE',
 'DEIXELS',
 'hipe',
 'Silver Kartz',
 'Rich Club',
 'NuVew',
 'IRUS by IDEE',
 'AISLIN',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'ROYAL SON',
 'Elligator',
 'Singco India',
 'GANSTA',
 'PHENOMENAL',
 'SUNBEE',
 'hipe',
 'IRUS by IDEE',
 'NuVew',
 'AISLIN',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'kingsunglasses',
 'ROYAL SON',
 'Singco India',
 'Elligator',
 'PHENOMENAL',
 'GANSTA',
 'SUNBEE',
 'hipe',
 'IRUS by IDEE',
 'NuVew',
 'Fastrack',
 'kingsunglasses']

In [142]:
len(Brand)

120

In [143]:
Price=[]
for i in range(0,3):
    try:
        price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for i in price:
            Price.append(i.text)
    except:
        Price.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()
    
Price

['₹284',
 '₹293',
 '₹314',
 '₹236',
 '₹210',
 '₹284',
 '₹299',
 '₹345',
 '₹329',
 '₹498',
 '₹237',
 '₹520',
 '₹449',
 '₹331',
 '₹284',
 '₹664',
 '₹312',
 '₹225',
 '₹289',
 '₹295',
 '₹314',
 '₹210',
 '₹419',
 '₹345',
 '₹516',
 '₹610',
 '₹449',
 '₹399',
 '₹199',
 '₹379',
 '₹331',
 '₹398',
 '₹319',
 '₹221',
 '₹284',
 '₹259',
 '₹399',
 '₹459',
 '₹859',
 '₹331',
 '₹284',
 '₹293',
 '₹314',
 '₹236',
 '₹210',
 '₹284',
 '₹299',
 '₹345',
 '₹329',
 '₹498',
 '₹237',
 '₹520',
 '₹449',
 '₹331',
 '₹284',
 '₹664',
 '₹312',
 '₹225',
 '₹289',
 '₹295',
 '₹314',
 '₹210',
 '₹419',
 '₹345',
 '₹516',
 '₹610',
 '₹449',
 '₹399',
 '₹199',
 '₹379',
 '₹331',
 '₹398',
 '₹319',
 '₹221',
 '₹284',
 '₹259',
 '₹399',
 '₹459',
 '₹859',
 '₹331',
 '₹284',
 '₹293',
 '₹314',
 '₹236',
 '₹210',
 '₹284',
 '₹299',
 '₹345',
 '₹329',
 '₹498',
 '₹237',
 '₹520',
 '₹449',
 '₹331',
 '₹284',
 '₹664',
 '₹312',
 '₹225',
 '₹289',
 '₹295',
 '₹314',
 '₹210',
 '₹419',
 '₹345',
 '₹516',
 '₹610',
 '₹449',
 '₹399',
 '₹199',
 '₹379',
 '₹331',
 '₹398',
 '₹319',
 '₹221',
 '₹284',
 '₹259',
 '₹399',
 '₹459',
 '₹859',
 '₹331']

In [144]:
len(Price)

120

In [145]:
Discount=[]
for i in range(0,3):
    try:
        discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
        for i in discount:
            Discount.append(i.text)
    except:
        Discount.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()
    
Discount

['85% off',
 '82% off',
 '75% off',
 '60% off',
 '78% off',
 '76% off',
 '62% off',
 '72% off',
 '71% off',
 '70% off',
 '85% off',
 '34% off',
 '77% off',
 '80% off',
 '89% off',
 '66% off',
 '87% off',
 '67% off',
 '85% off',
 '87% off',
 '75% off',
 '83% off',
 '70% off',
 '62% off',
 '66% off',
 '23% off',
 '79% off',
 '84% off',
 '84% off',
 '74% off',
 '83% off',
 '73% off',
 '84% off',
 '77% off',
 '71% off',
 '74% off',
 '72% off',
 '72% off',
 '4% off',
 '79% off',
 '85% off',
 '82% off',
 '75% off',
 '60% off',
 '78% off',
 '76% off',
 '62% off',
 '72% off',
 '71% off',
 '70% off',
 '85% off',
 '34% off',
 '77% off',
 '80% off',
 '89% off',
 '66% off',
 '87% off',
 '67% off',
 '85% off',
 '87% off',
 '75% off',
 '83% off',
 '70% off',
 '62% off',
 '66% off',
 '23% off',
 '79% off',
 '84% off',
 '84% off',
 '74% off',
 '83% off',
 '73% off',
 '84% off',
 '77% off',
 '71% off',
 '74% off',
 '72% off',
 '72% off',
 '4% off',
 '79% off',
 '85% off',
 '82% off',
 '75% off',
 '60% off',
 '78% off',
 '76% off',
 '62% off',
 '72% off',
 '71% off',
 '70% off',
 '85% off',
 '34% off',
 '77% off',
 '80% off',
 '89% off',
 '66% off',
 '87% off',
 '67% off',
 '85% off',
 '87% off',
 '75% off',
 '83% off',
 '70% off',
 '62% off',
 '66% off',
 '23% off',
 '79% off',
 '84% off',
 '84% off',
 '74% off',
 '83% off',
 '73% off',
 '84% off',
 '77% off',
 '71% off',
 '74% off',
 '72% off',
 '72% off',
 '4% off',
 '79% off']

In [146]:
len(Discount)

120

In [147]:
Product_des=[]
for i in range(0,3):
    try:
        product_des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        for i in product_des:
            Product_des.append(i.text)
    except:
        Product_des.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()
    
Product_des

['UV Protection Aviator Sunglasses (57)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection Sports Sunglasses (62)',
 'Gradient Rectangular Sunglasses (56)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (65)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Gradient Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'Gradient Rectangular Sunglasses (53)',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient, Riding Glasses Wayfarer Sungla...',
 'Gradient Rectangular Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Retro Squar...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection Sports Sunglasses (62)',
 'Gradient Rectangular Sunglasses (56)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (65)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Gradient Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'Gradient Rectangular Sunglasses (53)',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient, Riding Glasses Wayfarer Sungla...',
 'Gradient Rectangular Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Retro Squar...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection Sports Sunglasses (62)',
 'Gradient Rectangular Sunglasses (56)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (65)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Gradient Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'Gradient Rectangular Sunglasses (53)',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient, Riding Glasses Wayfarer Sungla...',
 'Gradient Rectangular Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Retro Squar...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)']

In [148]:
len(Product_des)

120

In [158]:
flipkart=pd.DataFrame({})
flipkart["Brand_Name"]=Brand[0:100]
flipkart["Product_Desc"]=Product_des[0:100]
flipkart["Price"]=Price[0:100]
flipkart["Discount"]=Discount[0:100]
flipkart

,Brand_Name,Product_Desc,Price,Discount
0,GANSTA,UV Protection Aviator Sunglasses (57),₹284,85% off
1,Singco India,"Riding Glasses, Others, UV Protection Wrap-aro...",₹293,82% off
2,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹314,75% off
3,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹236,60% off
4,hipe,"UV Protection, Night Vision, Gradient, Mirrore...",₹210,78% off
...,...,...,...,...
95,ROYAL SON,Polarized Rectangular Sunglasses (65),₹664,66% off
96,Elligator,Mirrored Round Sunglasses (53),₹312,87% off
97,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹225,67% off
98,GANSTA,"UV Protection, Gradient Aviator Sunglasses (55)",₹289,85% off
99,PHENOMENAL,UV Protection Round Sunglasses (53),₹295,87% off

# Q8

In [164]:
driver = webdriver.Chrome(r"C:\Users\hp\Desktop\Flip Robo\chromedriver.exe")

In [165]:
url=" https://www.flipkart.com/"
driver.get(url)

In [166]:
search_bar=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_bar
search_bar.send_keys("sneakers")

In [167]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn
search_btn.click()

In [169]:
Brand=[]
for i in range(0,3):
    try:
        brand=driver.find_elements_by_xpath("//div[starts-with(@class,'_2WkVRV')]")
        for i in brand:
            Brand.append(i.text)
    except:
        Brand.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

Brand

['SPARX',
 'SPARX',
 'restinfoot',
 'RONSON',
 'VIPSJAZZY',
 'RODDICK SHOES',
 'Kreverse',
 'LE GREEM',
 'RODDICK SHOES',
 'World Wear Footwear',
 'BRUTON',
 'Baogi',
 'BIRDE',
 'Chevit',
 'PUMA',
 'LE GREEM',
 'bluemaker',
 'India hub',
 'SPARX',
 'BAUCHHAAR',
 'bluemaker',
 'Jack Diamond',
 'BIRDE',
 'SHILISHA',
 'SHOEFLY',
 'BIRDE',
 'Chevit',
 'Echor',
 'BIRDE',
 'SPARX',
 'Rising Wolf',
 'Woakers',
 'Robbie jones',
 'D-SNEAKERZ',
 'BIRDE',
 'luxury fashion',
 'BRUTON',
 'Zsyto',
 'Labbin',
 'Echor',
 'SPARX',
 'SPARX',
 'restinfoot',
 'RONSON',
 'VIPSJAZZY',
 'RODDICK SHOES',
 'Kreverse',
 'LE GREEM',
 'RODDICK SHOES',
 'World Wear Footwear',
 'BRUTON',
 'Baogi',
 'BIRDE',
 'Chevit',
 'PUMA',
 'LE GREEM',
 'bluemaker',
 'India hub',
 'SPARX',
 'BAUCHHAAR',
 'bluemaker',
 'Jack Diamond',
 'BIRDE',
 'SHILISHA',
 'SHOEFLY',
 'BIRDE',
 'Chevit',
 'Echor',
 'BIRDE',
 'SPARX',
 'Rising Wolf',
 'Woakers',
 'Robbie jones',
 'D-SNEAKERZ',
 'BIRDE',
 'luxury fashion',
 'BRUTON',
 'Zsyto',
 'Labbin',
 'Echor',
 'SPARX',
 'SPARX',
 'restinfoot',
 'RONSON',
 'VIPSJAZZY',
 'RODDICK SHOES',
 'Kreverse',
 'LE GREEM',
 'RODDICK SHOES',
 'World Wear Footwear',
 'BRUTON',
 'Baogi',
 'BIRDE',
 'Chevit',
 'PUMA',
 'LE GREEM',
 'bluemaker',
 'India hub',
 'SPARX',
 'BAUCHHAAR',
 'bluemaker',
 'Jack Diamond',
 'BIRDE',
 'SHILISHA',
 'SHOEFLY',
 'BIRDE',
 'Chevit',
 'Echor',
 'BIRDE',
 'SPARX',
 'Rising Wolf',
 'Woakers',
 'Robbie jones',
 'D-SNEAKERZ',
 'BIRDE',
 'luxury fashion',
 'BRUTON',
 'Zsyto',
 'Labbin',
 'Echor']

In [170]:
len(Brand)

120

In [171]:
Price=[]
for i in range(0,3):
    try:
        price=driver.find_elements_by_xpath("//div[starts-with(@class,'_30jeq3')]")
        for i in price:
            Price.append(i.text)
    except:
        Price.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()
    
Price

['₹649',
 '₹769',
 '₹349',
 '₹499',
 '₹379',
 '₹474',
 '₹266',
 '₹404',
 '₹474',
 '₹240',
 '₹444',
 '₹499',
 '₹283',
 '₹599',
 '₹1,400',
 '₹404',
 '₹449',
 '₹379',
 '₹623',
 '₹448',
 '₹449',
 '₹627',
 '₹283',
 '₹399',
 '₹362',
 '₹757',
 '₹399',
 '₹399',
 '₹472',
 '₹745',
 '₹569',
 '₹521',
 '₹399',
 '₹348',
 '₹359',
 '₹399',
 '₹168',
 '₹398',
 '₹399',
 '₹429',
 '₹599',
 '₹236',
 '₹474',
 '₹449',
 '₹474',
 '₹649',
 '₹769',
 '₹349',
 '₹499',
 '₹379',
 '₹474',
 '₹266',
 '₹404',
 '₹474',
 '₹240',
 '₹444',
 '₹499',
 '₹283',
 '₹599',
 '₹1,400',
 '₹404',
 '₹449',
 '₹379',
 '₹623',
 '₹448',
 '₹449',
 '₹627',
 '₹283',
 '₹399',
 '₹362',
 '₹757',
 '₹399',
 '₹399',
 '₹472',
 '₹745',
 '₹569',
 '₹521',
 '₹399',
 '₹348',
 '₹359',
 '₹399',
 '₹168',
 '₹398',
 '₹399',
 '₹429',
 '₹599',
 '₹236',
 '₹474',
 '₹449',
 '₹474',
 '₹649',
 '₹769',
 '₹349',
 '₹499',
 '₹379',
 '₹474',
 '₹266',
 '₹404',
 '₹474',
 '₹240',
 '₹444',
 '₹499',
 '₹283',
 '₹599',
 '₹1,400',
 '₹404',
 '₹449',
 '₹379',
 '₹623',
 '₹448',
 '₹449',
 '₹627',
 '₹283',
 '₹399',
 '₹362',
 '₹757',
 '₹399',
 '₹399',
 '₹472',
 '₹745',
 '₹569',
 '₹521',
 '₹399',
 '₹348',
 '₹359',
 '₹399',
 '₹168',
 '₹398',
 '₹399',
 '₹429',
 '₹599',
 '₹236',
 '₹474',
 '₹449',
 '₹474']

In [173]:
Discount=[]
for i in range(0,3):
    try:
        discount=driver.find_elements_by_xpath("//div[starts-with(@class,'_3Ay6Sb')]")
        for i in discount:
            Discount.append(i.text)
    except:
        Discount.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()
    
Discount

['7% off',
 '23% off',
 '65% off',
 '75% off',
 '62% off',
 '52% off',
 '73% off',
 '59% off',
 '52% off',
 '51% off',
 '82% off',
 '66% off',
 '43% off',
 '60% off',
 '64% off',
 '59% off',
 '55% off',
 '81% off',
 '16% off',
 '55% off',
 '55% off',
 '37% off',
 '43% off',
 '60% off',
 '72% off',
 '69% off',
 '60% off',
 '60% off',
 '52% off',
 '17% off',
 '64% off',
 '65% off',
 '60% off',
 '47% off',
 '28% off',
 '80% off',
 '71% off',
 '69% off',
 '60% off',
 '57% off',
 '66% off',
 '52% off',
 '86% off',
 '55% off',
 '52% off',
 '7% off',
 '23% off',
 '65% off',
 '75% off',
 '62% off',
 '52% off',
 '73% off',
 '59% off',
 '52% off',
 '51% off',
 '82% off',
 '66% off',
 '43% off',
 '60% off',
 '64% off',
 '59% off',
 '55% off',
 '81% off',
 '16% off',
 '55% off',
 '55% off',
 '37% off',
 '43% off',
 '60% off',
 '72% off',
 '69% off',
 '60% off',
 '60% off',
 '52% off',
 '17% off',
 '64% off',
 '65% off',
 '60% off',
 '47% off',
 '28% off',
 '80% off',
 '71% off',
 '69% off',
 '60% off',
 '57% off',
 '66% off',
 '52% off',
 '86% off',
 '55% off',
 '52% off',
 '7% off',
 '23% off',
 '65% off',
 '75% off',
 '62% off',
 '52% off',
 '73% off',
 '59% off',
 '52% off',
 '51% off',
 '82% off',
 '66% off',
 '43% off',
 '60% off',
 '64% off',
 '59% off',
 '55% off',
 '81% off',
 '16% off',
 '55% off',
 '55% off',
 '37% off',
 '43% off',
 '60% off',
 '72% off',
 '69% off',
 '60% off',
 '60% off',
 '52% off',
 '17% off',
 '64% off',
 '65% off',
 '60% off',
 '47% off',
 '28% off',
 '80% off',
 '71% off',
 '69% off',
 '60% off',
 '57% off',
 '66% off',
 '52% off',
 '86% off',
 '55% off',
 '52% off']

In [174]:
Product_des=[]
for i in range(0,3):
    try:
        product_des=driver.find_elements_by_xpath("//a[starts-with(@class,'IRpwTa')]")
        for i in product_des:
            Product_des.append(i.text)
    except:
        Product_des.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()
    
Product_des

['SM439G Sneakers For Men',
 'SM-322 Sneakers For Men',
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Extraordinary, Shapeless,High Performance, Sports Shoes...',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Kor Sneakers For Men',
 'Comfortable & Smart Sneakers For Men',
 'casual for men Sneakers For Men',
 'Fashionable sneaker casual shoes Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'casual shoe for men Sneakers For Men',
 'Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men Sneakers...',
 'Combo Men Pack of 2 Loafers Shoes Sneakers For Men',
 'Combo Pack of 5 Casual Shoes Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'HHM Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'SM-675 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 "Men's Stylish Casual Shoes Sneakers For Men",
 'luxury fashionable casual shoes Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'Raptor Sneakers For Men',
 'SM439G Sneakers For Men',
 'SM-322 Sneakers For Men',
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Extraordinary, Shapeless,High Performance, Sports Shoes...',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Kor Sneakers For Men',
 'Comfortable & Smart Sneakers For Men',
 'casual for men Sneakers For Men',
 'Fashionable sneaker casual shoes Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'casual shoe for men Sneakers For Men',
 'Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men Sneakers...',
 'Combo Men Pack of 2 Loafers Shoes Sneakers For Men',
 'Combo Pack of 5 Casual Shoes Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'HHM Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'SM-675 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 "Men's Stylish Casual Shoes Sneakers For Men",
 'luxury fashionable casual shoes Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'Raptor Sneakers For Men',
 'SM439G Sneakers For Men',
 'SM-322 Sneakers For Men',
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Extraordinary, Shapeless,High Performance, Sports Shoes...',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Kor Sneakers For Men',
 'Comfortable & Smart Sneakers For Men',
 'casual for men Sneakers For Men',
 'Fashionable sneaker casual shoes Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'casual shoe for men Sneakers For Men',
 'Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men Sneakers...',
 'Combo Men Pack of 2 Loafers Shoes Sneakers For Men',
 'Combo Pack of 5 Casual Shoes Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'HHM Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'SM-675 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 "Men's Stylish Casual Shoes Sneakers For Men",
 'luxury fashionable casual shoes Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'Raptor Sneakers For Men']

In [175]:
sneakers=pd.DataFrame({})
sneakers["Brand"]=Brand[0:100]
sneakers["Price"]=Price[0:100]
sneakers["Discount"]=Discount[0:100]
sneakers["Product_des"]=Product_des[0:100]
sneakers

,Brand,Price,Discount,Product_des
0,SPARX,₹649,7% off,SM439G Sneakers For Men
1,SPARX,₹769,23% off,SM-322 Sneakers For Men
2,restinfoot,₹349,65% off,"Casual shoes,Sneakers for men's,shoes for men'..."
3,RONSON,₹499,75% off,"Extraordinary, Shapeless,High Performance, Spo..."
4,VIPSJAZZY,₹379,62% off,Sneakers For Men
...,...,...,...,...
95,LE GREEM,₹474,52% off,Comfortable & Smart Sneakers For Men
96,bluemaker,₹266,73% off,casual for men Sneakers For Men
97,India hub,₹404,59% off,Fashionable sneaker casual shoes Sneakers For Men
98,SPARX,₹474,52% off,Men White Sneakers Sneakers For Men
99,BAUCHHAAR,₹240,51% off,Sneakers For Men

# Q9

In [176]:
driver = webdriver.Chrome(r"C:\Users\hp\Desktop\Flip Robo\chromedriver.exe")

In [177]:
url= "https://www.myntra.com/shoes"
driver.get(url)

In [178]:
fil_price=driver.find_element_by_xpath("//ul[@class='price-list']//li[2]")
fil_price
fil_price.click()

In [179]:
fil_color=driver.find_element_by_xpath("//li[@class='colour-listItem']//label")
fil_color
fil_color.click()

In [180]:
Brand=[]
for i in range(0,2):
    try:
       
        brand=driver.find_elements_by_xpath("//h3[starts-with(@class,'product-brand')]")
        for i in brand:
            Brand.append(i.text)
    except:
        Brand.append("-")
next_button=driver.find_element_by_xpath("//a[@rel='next']")
next_button.click()

Brand

['Puma',
 'Puma',
 'Hush Puppies',
 'Hush Puppies',
 'ROSSO BRUNELLO',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Hush Puppies',
 'Puma',
 'Nike',
 'Puma',
 'Tommy Hilfiger',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Tommy Hilfiger',
 'Calvin Klein',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'PUMA Motorsport',
 'J.FONTINI',
 'Hush Puppies',
 'UNDER ARMOUR',
 'ASICS',
 'PUMA Motorsport',
 'Quechua By Decathlon',
 'Puma',
 'Bugatti',
 'ASICS',
 'PUMA Hoops',
 'Tommy Hilfiger',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'PUMA Motorsport',
 'Puma',
 'PUMA Motorsport',
 'J.FONTINI',
 'ROSSO BRUNELLO',
 'Geox',
 'Saint G',
 'Geox',
 'ROSSO BRUNELLO',
 'ASICS',
 'Puma',
 'Puma',
 'Hush Puppies',
 'Hush Puppies',
 'ROSSO BRUNELLO',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Hush Puppies',
 'Puma',
 'Nike',
 'Puma',
 'Tommy Hilfiger',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Tommy Hilfiger',
 'Calvin Klein',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'PUMA Motorsport',
 'J.FONTINI',
 'Hush Puppies',
 'UNDER ARMOUR',
 'ASICS',
 'PUMA Motorsport',
 'Quechua By Decathlon',
 'Puma',
 'Bugatti',
 'ASICS',
 'PUMA Hoops',
 'Tommy Hilfiger',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Puma',
 'PUMA Motorsport',
 'Puma',
 'PUMA Motorsport',
 'J.FONTINI',
 'ROSSO BRUNELLO',
 'Geox',
 'Saint G',
 'Geox',
 'ROSSO BRUNELLO',
 'ASICS']

In [181]:
Price=[]
for i in range(0,2):
    try:
        price=driver.find_elements_by_xpath("//div[starts-with(@class,'product-price')]")
        for i in price:
            value = i.text
            if value.count("Rs")==2 :
                index = value.rindex("Rs")
                temp=value[:index]
                Price.append(temp)
            else:
                Price.append(value)
    except:
        Price.append("-")
next_button=driver.find_element_by_xpath("//a[@rel='next']")
next_button.click()

Price

['Rs. 10999',
 'Rs. 6990',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 7600',
 'Rs. 6993',
 'Rs. 7006',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 7693',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 7039',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 7773',
 'Rs. 10399',
 'Rs. 10295',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 9093',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 7199',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8900',
 'Rs. 6993',
 'Rs. 8500',
 'Rs. 8000',
 'Rs. 10493',
 'Rs. 7192',
 'Rs. 11242',
 'Rs. 6990',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 6995',
 'Rs. 7992',
 'Rs. 7599',
 'Rs. 8990',
 'Rs. 7192',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 10999',
 'Rs. 6990',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 7600',
 'Rs. 6993',
 'Rs. 7006',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 7693',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 7039',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 7773',
 'Rs. 10399',
 'Rs. 10295',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 9093',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 7199',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8900',
 'Rs. 6993',
 'Rs. 8500',
 'Rs. 8000',
 'Rs. 10493',
 'Rs. 7192',
 'Rs. 11242',
 'Rs. 6990',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 6995',
 'Rs. 7992',
 'Rs. 7599',
 'Rs. 8990',
 'Rs. 7192',
 'Rs. 7999',
 'Rs. 6999']

In [183]:
Product_des=[]
for i in range(0,2):
    try:
        product_des=driver.find_elements_by_xpath("//h4[starts-with(@class,'product-product')]")
        for i in product_des:
            Product_des.append(i.text)
    except:
        Product_des.append("-")
next_button=driver.find_element_by_xpath("//a[@rel='next']")
next_button.click()

Product_des

['Men Leather Formal Derbys',
 'Unisex Mercedes F1 Roma',
 'Women Jammers- Cool Block',
 '',
 'BMW MMS City Rider Sneakers',
 'Men Leather Chelsea Boots',
 'Men Lightstrike Go Running',
 'Unisex BMW M Ridge Sneakers',
 'Men Court Jam Bounce Tennis',
 'Women Provoke XT FTR Trainers',
 'Women Eternity NITRO Shoes',
 'Women Magnify Nitro Shoes',
 'Women NOVABLAST Shoes',
 'Unisex Suede The Cat Trainers',
 'Men EvoRide TOKYO Shoes',
 'Leather High-Top Platform Peep Toes',
 'Unisex Patent Leather Flat Boots',
 'Men Solid Leather Formal Brogues',
 'Men Solid Leather Formal Brogues',
 'Women PRONOUNCE May Sneakers',
 'Men Solid Leather Formal Derbys',
 'Leather Wedge Heels',
 'Men Textured Leather Formal Loafers',
 'Women Fuse Training Shoes',
 'Women Lola Wedges',
 'Women HOVR Infinite Running',
 'Women Leather Open Toe Flats',
 'Women Marillia Natural Leather Flats',
 'Women Arizona Oiled Leather Flats',
 'Men Leather Sneakers',
 'Men Leather Flat Boots',
 'Men Textured Leather Formal Derbys',
 'Men Leather Formal Slip-Ons',
 'Men HOVR Sonic 4 Running Shoes',
 'Men Charged Rogue 2.5 RFLCT',
 'Men Charged Commit 3 Training',
 'Unisex Project Rock Recruit',
 'Men Leather Mules',
 'Men Solid Leather Formal Loafers',
 'Ustraa black',
 'Women HOVR Apex 2 Training',
 'Men Solid Leather Formal Monk Shoes',
 'Men Leather Formal Brogues',
 'Printed Leather Kitten Sandals',
 'Men Leather Formal Derbys',
 'Solid Leather Formal Shoes',
 'Men Leather Formal Loafers',
 'Women Perforations Sneakers',
 'Women HOVR Sonic 4 Colorshift',
 'Men Leather Driving Shoes',
 'Men Leather Formal Derbys',
 'Unisex Mercedes F1 Roma',
 'Women Jammers- Cool Block',
 '',
 'BMW MMS City Rider Sneakers',
 'Men Leather Chelsea Boots',
 'Men Lightstrike Go Running',
 'Unisex BMW M Ridge Sneakers',
 'Men Court Jam Bounce Tennis',
 'Women Provoke XT FTR Trainers',
 'Women Eternity NITRO Shoes',
 'Women Magnify Nitro Shoes',
 'Women NOVABLAST Shoes',
 'Unisex Suede The Cat Trainers',
 'Men EvoRide TOKYO Shoes',
 'Leather High-Top Platform Peep Toes',
 'Unisex Patent Leather Flat Boots',
 'Men Solid Leather Formal Brogues',
 'Men Solid Leather Formal Brogues',
 'Women PRONOUNCE May Sneakers',
 'Men Solid Leather Formal Derbys',
 'Leather Wedge Heels',
 'Men Textured Leather Formal Loafers',
 'Women Fuse Training Shoes',
 'Women Lola Wedges',
 'Women HOVR Infinite Running',
 'Women Leather Open Toe Flats',
 'Women Marillia Natural Leather Flats',
 'Women Arizona Oiled Leather Flats',
 'Men Leather Sneakers',
 'Men Leather Flat Boots',
 'Men Textured Leather Formal Derbys',
 'Men Leather Formal Slip-Ons',
 'Men HOVR Sonic 4 Running Shoes',
 'Men Charged Rogue 2.5 RFLCT',
 'Men Charged Commit 3 Training',
 'Unisex Project Rock Recruit',
 'Men Leather Mules',
 'Men Solid Leather Formal Loafers',
 'Ustraa black',
 'Women HOVR Apex 2 Training',
 'Men Solid Leather Formal Monk Shoes',
 'Men Leather Formal Brogues',
 'Printed Leather Kitten Sandals',
 'Men Leather Formal Derbys',
 'Solid Leather Formal Shoes',
 'Men Leather Formal Loafers',
 'Women Perforations Sneakers',
 'Women HOVR Sonic 4 Colorshift',
 'Men Leather Driving Shoes']

In [184]:
myntra=pd.DataFrame({})
myntra["Brand"]=Brand
myntra["Product_Des"]=Product_des
myntra["Price"]=Price
myntra

             Brand                    Product_Des      Price
0             Puma      Men Leather Formal Derbys  Rs. 10999
1             Puma        Unisex Mercedes F1 Roma   Rs. 6990
2     Hush Puppies      Women Jammers- Cool Block  Rs. 11999
3     Hush Puppies                                  Rs. 9999
4   ROSSO BRUNELLO    BMW MMS City Rider Sneakers   Rs. 7600
..             ...                            ...        ...
95            Geox     Solid Leather Formal Shoes   Rs. 7599
96         Saint G     Men Leather Formal Loafers   Rs. 8990
97            Geox    Women Perforations Sneakers   Rs. 7192
98  ROSSO BRUNELLO  Women HOVR Sonic 4 Colorshift   Rs. 7999
99           ASICS      Men Leather Driving Shoes   Rs. 6999

[100 rows x 3 columns]

# Q10

In [185]:
driver = webdriver.Chrome(r"C:\Users\hp\Desktop\Flip Robo\chromedriver.exe")

In [186]:
url= "https://www.amazon.in/"
driver.get(url)

In [187]:
search_product= driver.find_element_by_id("twotabsearchtextbox")
search_product
search_product.send_keys("Laptop")

In [188]:
search_btn=driver.find_element_by_id("nav-search-submit-button")
search_btn
search_btn.click()

In [189]:
filter_cpu=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']//div")
filter_cpu
filter_cpu.click()

In [190]:
filter_cpu1=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/16757432031']//div")
filter_cpu1
filter_cpu1.click()

In [191]:
product_name=driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none']//h2")
product_name
Product_name= []
for i in product_name[0:10]:
    
    Product_name.append(i.text)
Product_name

['HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/White/2 kg), FX516PC-HN062T',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/Gray/2 kg), FX516PC-HN063T',
 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33.78cm) FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/Black/997gms), 4ZR1D71993',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Laptop(16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN']

In [192]:
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price
Price= []
for i in price[0:10]:
    
    Price.append(i.text)
Price

['1,23,350',
 '57,990',
 '77,990',
 '5,56,524',
 '85,990',
 '84,990',
 '92,990',
 '1,07,990',
 '74,990',
 '98,500']

In [217]:
rating=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
rating
Rating= []
for i in rating[0:10]:
    
    Rating.append(i.text)
Rating

['']

In [216]:
amazon=pd.DataFrame({})
amazon['Product_name']=Product_name
amazon['Price']=Price
amazon

                                        Product_name     Price
0  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  1,23,350
1  Mi Notebook Horizon Edition 14 Intel Core i7-1...    57,990
2  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....    77,990
3  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...  5,56,524
4  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...    85,990
5  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...    84,990
6  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...    92,990
7  Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....  1,07,990
8  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...    74,990
9  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    98,500

Note able to scrap Ratings.

# Q7

In [226]:
driver = webdriver.Chrome(r"C:\Users\hp\Desktop\Flip Robo\chromedriver.exe")

In [238]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [239]:
viewall = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
viewall.click()

In [240]:
Rating=[]
Review_summary=[]
Full_review=[]

In [241]:
Review_summary_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
Full_review_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    

for r in Review_summary_tag:
    Review_summary.append(r.text)
for j in Rating_tag :
    Rating.append(j.text)
for k in Full_review_tag:
    Full_review.append(k.text.replace("\n"," "))

In [242]:
import time

In [244]:
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<10):
    try:
        nextbtn.click()
    except:
        pass
    
    time.sleep(3)
    Review_summary_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    Rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    Full_review_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for r in Review_summary_tag:
        try:
            Review_summary.append(r.text)
        except:
            pass
    for j in Rating_tag :
        try:
            Rating.append(j.text)
        except:
            pass
    for k in Full_review_tag:
        try:
            Full_review.append(k.text.replace("\n"," "))
        except:
            pass
    
    i=i+1

In [245]:
iphone=pd.DataFrame({})
iphone["Rating"]=Rating
iphone["Review_Summary"]=Review_summary
iphone["Full_Review"]=Full_review
iphone

,Rating,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
205,5,Worth every penny,Previously I was using one plus 3t it was a gr...
206,5,Great product,Amazing Powerful and Durable Gadget. I’m am v...
207,4,Good choice,So far it’s been an AMAZING experience coming ...
208,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
209,5,Highly recommended,iphone 11 is a very good phone to buy only if ...